<h1>DJ Submission</h1>

<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="600" cellpadding="3" cellspacing="3">
  <tr>
    <th>Submissions</th>
    <th></th>
  </tr>

<% @dj_submissions.each do |dj_submission| %>
  <tr>
    <td><%= link_to "Your Submission", edit_dj_submission_path(dj_submission) %></td>
    <td><%= link_to 'Delete', dj_submission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New DJ submission', new_dj_submission_path %>
