<%= form_for(@artist, :url => artist_path(@artist)) do |f| %>
  <%= f.error_messages %>
<fieldset>
	<legend>Notes</legend>
	<p>
		<%= f.text_area :admin_notes %>
	</p>
</fieldset>
  <p><%= f.submit %></p>
<% end %>