<h1>Installation Art Submissions</h1>

<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="600" cellpadding="3" cellspacing="3">
  <tr>
    <th>Title</th>
    <th></th>
  </tr>

<% @installation_submissions.each do |installation_submission| %>
  <tr>
    <td><%= link_to installation_submission.title, edit_installation_submission_path(installation_submission) %></td>
    <td><%= link_to 'Delete', installation_submission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'New Installation submission', new_installation_submission_path %></p>

<br />
<p>You have until the official deadline to make any changes to your submission(s). Once the deadline hits, your submission(s) will be complete. Once decisions have been made, the site will be updated to indicate if any of your pieces were accepted, and you will also receive an email announcing the jury notifications.</p>



<b>Submission Guidelines</b>
<ul>
	<li>Artists may submit up to three separate installation proposals.</li>
	<li>Artists must submit an introductory description of their installation(s) in as much detail as possible.</li>
	<li>If applying for grant funding, artists must include a basic budget outline and cost estimate, and indicate how much grant funding they are requesting.</li>
	<li>Artists are encouraged to upload additional supporting materials, like images, videos, drawings, etc.</li>
</ul>
