<center><h3>DJs at the Festival</h3></center>

<p>The Seattle Erotic Art Festival books DJs for both the daytime and evening hours, and always seeks new talent that reflects the diverse and vibrant nature of the event and our guests.</p>

<p>During the day, the venue is an art gallery and we focus on playing music that compliments the art and doesn’t distract patrons from engaging with the exhibition. The vibe becomes more uptempo in the early evening. After the main performance, we pull out all the stops and it’s a lively dance party.</p>

<p><b>Selection of DJs is based on:</b> the availability of slots, the styles required, engagement with the production process, and engagement with other events that we produce.</p>

<p>All artists 18 years old or older are encouraged to fill out the application form to be considered.</p>

<b>Accepted DJs Receive:</b>
	<ul>
    	<li>Exposure to an audience of thousands of people, including international artists and patrons; the 10th annual Festival anticipates up to 10,000 attendees across two-weekends in June</li>
    	<li>Full pass to both weekends of the Festival for self (artist) and a plus one</li>
    	<li>Invitation to an exclusive Artist Reception for artist and a plus one (space is limited; RSVP will be required)</li>
    	<li>Promoted on Festival website</li>
	</ul>
