<h3><center>Erotic Short Film Exhibition</center></h3>

<p>For the second year, film will be a major attraction at the Festival, showcased in a modern, built-in movie theater on site at Fremont Studios.</p>

<p>The Festival is pleased to curate an Erotic Short Film Exhibition in collaboration with Three Dollar Bill Cinema (producer of The Seattle Lesbian and Gay Film Festival and The Seattle Transgender Film Festival). The jury will consist of a special Three Dollar Bill Cinema review panel and our Festival Director.</p>

<p>Selected films will be screened across the two-weekend Festival to up to ten thousand patrons.</p>

<p>All filmmakers age 18 and older are encouraged to submit up to three films for consideration. All styles of film will be considered (animation, black & white, etc.). All body types, genders, ages, races, and sexual proclivities are encouraged.</p>

<b>Accepted Artists Receive:</b>
  <p>
	<ul>
    	<li>Featured at the 10th annual Seattle Erotic Art Festival across two weekends to up to 10,000 attendees</li>
    	<li>Full pass to both weekends of the Festival for self (artist)</li>
    	<li>Invitation to an exclusive Artist Reception for artist and a plus one</li>
    	<li>Featured in professionally designed Festival catalog, both in print and PDF</li>
    	<li>Promoted on Festival website</li>
	</ul>
 </p>

<b>Declined Artists (who paid the $10 submission fee) Receive:</b>
  <p>
	<ul>
    	<li>Weekend pass to the <b>first weekend</b> of the Festival (Saturday and Sunday) for self (artist) - $30 value</li>
        <li>$10 discount to the <b>second weekend</b> of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday)</li>
    </ul>
  </p>

<p><i>NOTE: tickets are non-transferable and non-refundable. Discount codes will be provided when Festival tickets are available for purchase. Each discount code can only be used once. Each artist will receive only one discount code (if you apply to multiple Calls for Art and pay multiple fees, you would receive one discount code for the highest fee you paid.)</i></p>

<b>Submission Guidelines</b>
	<p>
		<ul>
			<li>Artists must make their submissions between February 1 and March 10, 2012. The submission deadline is Saturday, March 10, 2012 at 11pm (PST). Be sure to have all of your information entered on time and correctly as you will not be able to access the system after that date.</li>
			<li>Non-North American artists and invited artists do not pay a submission fee.</li>
			<li>All North American artists must pay a $10 submission fee, which allows for up to 3 short films to be submitted for consideration.</li>
			<ul>
				<li>Note that there is no submission fee if you submit by Wednesday, February 15, 2012 at 11pm (PST).</li>
				<li>By paying a submission fee, you receive a weekend pass to the first weekend of the Festival (Saturday and Sunday) for self (artist), and a $10 discount to the second weekend of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday). These tickets are non-transferable and non-refundable.</li>
			</ul>
			<li>Each submission may be up to 30 minutes in length, but will not be considered if it extends beyond 30 minutes.</li>
			<li>Filmmakers can submit their work either through file upload, via web link, or by snail mailing a DVD.</li>
			<li>Accepted artists must be at least 18 years old by June 15, 2012.</li>
			<li>Any models/actresses depicted in art must be 18 years old or older. All accepted artists who use models/actresses are required to submit a Models Age Certification form. The completed form must be sent with the artist’s inventory. The Festival will keep this information on file to comply with United Sates Code, Title 18, Section 2257.</li>
			<li>Artists may only submit finished art of their own creation.</li>
		</ul>
	</p>