<b>Submit Your Art for 2012</b>
<p>The calls for visual, literary, installation, short film and Store art are now closed.</p>
</p>Take advantage of this opportunity to be part of the Festival's 10th anniversary event, the biggest and best year yet. The Festival will be held June 16-24, 2012 and anticipates over 10,000 attendees.</p>

<p>The calls for visual, literary and installation art are now closed (the deadline was March 10).
All artists 18 years old or older are encouraged to submit art for consideration. The Festival accepts art from artists across the nation and world, and there is no submission fee to apply for artists living outside of North America.
Artists may submit once for as many Calls for Art as they wish, but note that each Call for Art has distinct requirements and may have additional submission fees. View the navigation tabs for details about each call for art.
Click here for an overview (http://seattleerotic.org/2012call) of the benefits accepted and declined artists receive, and a summary of all the submission fees.</p>

<b>Fees and Deadlines</b><br />
The early-bird deadline (for discounted submission fees) is Wednesday, February 15 at 11pm PST.<br />
The deadline for visual, literary and installation art is Saturday, March 10 at 11pm PST.<br />
The deadline for short film/video and Festival Store art is Saturday, March 31 at 11pm PST.<br />
The deadline for performance is Tuesday, April 10 at 11pm PST.<br />
Submissions may be edited up until their respective deadlines.<br />

<p>Click here for artist notification deadlines. <%= link_to "http://www.seattleerotic.org/notification-dates-update/", "http://www.seattleerotic.org/notification-dates-update/" %></p>