<h3><center>Submit Your Art for 2012</center></h3>

<p>The Seattle Erotic Art Festival is accepting art submissions February 1 through March 10, 2012 for the tenth annual event, sure to be the biggest and best year yet. The Festival will be held across two weekends at the end of June 2012 (June 16/17 and 22/23/24).

<p>The Festival is calling for visual art of all media, short film, installation art, literary art, performance art, and items for the popular Festival Store.

<p>
<p>All artists 18 years old or older are encouraged to submit art for consideration.<br />
<bold>The deadline is Saturday, March 10 at 11pm PST.</bold><br />
Submissions may be edited up until the deadline.<br />
</p>
<p>Artists may submit once for as many Calls for Art as they wish, but note that each Call for Art has distinct requirements and may have additional submission fees. View the navigation tabs for details about each call for art.</p>

<%= link_to "Click here for an overview", "http://seattleerotic.org/2011/12/16/2012call/" %> of the benefits accepted and declined artists receive, and a summary of all the submission fees.
<br />

<hr />

<h3><center>Summary of the Submission Process</center></h3>

<p>The submission process is quick and easy, and the site will guide you through each step. If you ever have problems, contact info@SeattleErotic.org.</p>
	<ol>
    	<li>You will need to create an account with your email and password, by clicking the button that says Register.</li>
    	<li>The next step is to add your artist profile. This includes your legal name and contact information.</li>
    	<li>You will then select what type of art you would like to submit. If a submission fee is required, you will be prompted to pay the submission fee before you can apply.</li>
		<li>Invited artists will enter a discount code to waive the submission fee.</li>
    	<li>The final step is submitting your art for consideration. There are different requirements depending on the type of art you are submitting for consideration. Please view the navigation tabs for details about each one. Details will also be included during the submission process.</li>
    </ol>
</p>

<br />
<hr />
<p>
<b>General Guidelines for Submission</b>
	<ul>
    	<li>All artists and models must be 18 years old or older</li>
    	<li>Submission fees are non-refundable</li>
    	<li>Tickets are non-transferable</li>
    	<li>If accepted, the art submitted must be exactly the same as the delivered art</li>
    	<li>Unfinished art or “works in progress” will not be considered by the jury (with the exception of installation art proposals)</li>
        <li>Incomplete or incorrect entries will not be considered after the deadline</li>
    	<li>Artists do not need to attend the Festival to be accepted</li>
    	<li>The Festival reserves the right to refuse entry to anyone</li>
	</ul>
</p>

<br />
<hr />

<h3><center>About the Seattle Erotic Art Festival</h3></center>

<p>The Seattle Erotic Art Festival supports a vibrant creative community, promotes freedom of expression, and fosters sex positive culture through public celebration of the arts.</p>

<p>The Festival is a jury-selected, erotic fine art exhibition and curated arts festival. Selected art will be showcased over the course of the event to thousands of patrons across two weekends in June.</p>

<p>Our curators and juries select work that is based on quality of execution, originality of subject, and depth of emotion. We strive to be a place that showcases the diversity of human sexual expression and explores the vast creativity that artists use to approach their subjects, a place where art that is rarely seen in mainstream galleries and museums can be celebrated, discussed and supported.</p>
<p>For the second year, the Festival will be held at Fremont Studios. The venue is well-equipped to professionally showcase all art forms, featuring ample space and high-quality lighting for an impressive visual art gallery and large Festival Store, a modern 50-seat movie theater for film, a built-in stage for performance art, and more.</p>

<p>The 10th annual Festival will held across two weekends at the end of June (exact dates to be announced).</p>