<b>Interactive Installations</b>

<p>Interactive installation art is extremely popular at the Seattle Erotic Art Festival, and artists enjoy significant notoriety as a result of media and audience reviews. We are seeking work that encourages the audience to become part of the art, that creates a memorable Festival experience, and that is physically, emotionally and creatively stimulating.</p>

<p>The Festival is proud to continue to offer our grant for interactive visual artists. Selected artists will be granted up to $750 to create works of art that feature a participatory element.</p>

<b>Accepted Artists Receive:</b>
  <p>
	<ul>
    	<li>Featured at the 10th annual Seattle Erotic Art Festival across two weekends to up to 10,000 attendees</li>
    	<li>Gallery rate of 60% on pieces sold in the exhibition and/or Festival Store (on average, the Festival sells 25% of the artwork featured)</li>
    	<li>Full pass to both weekends of the Festival for self (artist)</li>
    	<li>Invitation to an exclusive Artist Reception for artist and a plus one</li>
    	<li>Featured in professionally designed Festival catalog, both in print and PDF</li>
    	<li>Promoted on Festival website gallery</li>
	</ul>
  </p>

<b>Declined Artists Receive:</b>
  <p>
	<ul>
    	<li>Weekend pass to the <b>first weekend</b> of the Festival (Saturday and Sunday) for self (artist) - $30 value</li>
    	<li>$20 or $30 discount (depends on if you pay the early-bird or standard submission fee) to the second weekend of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday)</li>
    </ul>
  </p>

<i>NOTE: tickets are non-transferable and non-refundable. Discount codes will be provided when Festival tickets are available for purchase. Each discount code can only be used once. Each artist will receive only one discount code (if you apply to multiple Calls for Art and pay multiple fees, you would receive one discount code for the highest fee you paid.)</i>

<b>Submission Guidelines</b>
	<p>
		<ul>
    		<li>Artists must make their submissions between February 1 and March 10, 2012. The submission deadline is Saturday, March 10, 2012 at 11pm (PST). Be sure to have all of your information entered on time and correctly as you will not be able to access the system after that date.</li>
    		<li>Non-North American artists and invited artists do not pay a submission fee.</li>
			<li>All North American artists must pay a $30 submission fee, which allows for up to 3 installation proposals to be submitted for consideration.</li>
			<li>
        		<ul>
					<li>Note that there is an early-bird submission fee of $20 if you submit by Wednesday, February 15, 2012 at 11pm (PST).</li>
        			<li>By paying a submission fee, you receive a weekend pass to the first weekend of the Festival (Saturday and Sunday) for self (artist), and a $20 or $30 discount (depends on if you pay the early-bird or standard submission fee) to the second weekend of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday). These tickets are non-transferable and non-refundable.</li>
    				<li>If you pay a submission fee for visual, literary, and/or installation art, it is free to apply to the popular Festival Store. We encourage all artists to consider selling work in both the exhibition and Store.</li>
    				<li>For all accepted, invited and Store art sold during or as a direct result of the Festival, the Festival receives a 40% commission fee.</li>
				</ul>
			</li>
    		<li>For each proposal, artists must submit an introductory description of their piece in as much detail as possible. Descriptions can be uploaded as Word documents, PDF files, or JPG images.</li>
    		<li>Artists may include up to five descriptive attachments (images or text) with their submission.</li>
    		<li>If applying for grant funding, artists should include a basic budget outline and cost estimate.</li>
    		<li>Installations can be submitted as ideas, and need not be completed work at the time of submission.</li>
    		<li>Artists must be willing to work closely with the Festival curators with regard to appropriate lighting, size, materials, safety, etc.</li>
    		<li>Artists should have enough experience to be self-sufficient, requiring little to no assistance or materials from Festival staff.</li>
    		<li>Accepted artists must be at least 18 years old by June 15, 2012.</li>
    		<li>Any models depicted in art must be 18 years old or older. All accepted artists who use models in photographs will be required to submit a Models Age Certification form. The completed form must be sent with the artist’s inventory. The Festival will keep this information on file to comply with United Sates Code, Title 18, Section 2257.</li>
		</ul>
	</p>