<h3><center>Literary Art Exhibition<center></h3>

<p>Created in 2009 to highlight writing as an important art form, the Literary Art Exhibition is the first of its kind at any erotic art festival, featuring work from poets, playwrights and authors from across the country. Selected poems, stories and plays are exhibited through live readings and in a printed anthology during the two-weekend event, to up to ten thousand attendees. The anthology remains available for purchase year-round.</p>

<p>The 2012 jurors are David Jones, poet, performer with the Floating Mountain Poets, and frequent featured reader at the Festival; Evan Peterson, poet, fiction and nonfiction author, performer, editor, book reviewer, columnist and educator; Kyle Jones, published writer, educator and previous Festival literary artist; Priya Keefe, published writer, poetry and cross-genre editor, and previous Festival literary artist; and the fourth juror is to be confirmed. </p>

<b>There are three categories of literary art:</b>
  <p>
	<ul>
    	<li>Poetry: All forms no more than 2 pages, single-spaced</li>
    	<li>Short stories: Up to 1,500 words, 7 pages, double-spaced</li>
    	<li>Short one-act plays or scripts: Up to 15 pages including scene setup</li>
    </ul>
  </p>

<b>Accepted Artists Receive:</b>
	<p>
		<ul>
			<li>Featured at the 10th annual Seattle Erotic Art Festival across two weekends to up to 10,000 attendees</li>
    		<li>Full pass to both weekends of the Festival for self (artist)</li>
    		<li>Invitation to an exclusive Artist Reception for artist and a plus one (space is limited; RSVP will be required)</li>
    		<li>Featured in professionally designed Anthology, available for sale in the popular Festival Store and online, and available at cost to accepted literary artists</li>
    		<li>Featured in professionally designed Festival catalog, both in print and PDF</li>
    		<li>Promoted on Festival website</li>
		</ul>
	</p>



<b>Declined Artists Receive:</b>
	<p>
		<ul>
    		<li>Weekend pass to the <b>first weekend</b> of the Festival (Saturday and Sunday) for self (artist) - $30 value</li>
    		<li>$20 or $30 discount (depends on if you pay the early-bird or standard submission fee) to the <b>second weekend</b> of the Festival for self (artist), <u>either</u> for a Friday ticket <u>or</u> a full weekend pass (Friday, Saturday and Sunday)</li>
		</ul>
	</p>



<p><i>NOTE: tickets are non-transferable and non-refundable. Discount codes will be provided when Festival tickets are available for purchase. Each discount code can only be used once. Each artist will receive only one discount code (if you apply to multiple Calls for Art and pay multiple fees, you would receive one discount code for the highest fee you paid.)</i></p>

<b>Submission Guidelines</b>
	<p>
		<ul>
    		<li>Artists must make their submissions between February 1 and March 10, 2012. The submission deadline is Saturday, March 10, 2012 at 11pm (PST). Be sure to have all of your information entered on time and correctly as you will not be able to access the system after that date.</li>
    		<li>Non-North American artists and invited artists do not pay a submission fee.</li>
			<li>All North American artists must pay a $30 submission fee, which allows for up to 5 pieces to be submitted for consideration.</li>
			<li>
				<ul>	
        			<li>Note that there is an early-bird submission fee of $20 if you submit by Wednesday, February 15, 2012 at 11pm (PST).</li>
        			<li>By paying a submission fee, you receive a weekend pass to the first weekend of the Festival (Saturday and Sunday) for self (artist), and a $20 or $30 discount (depends on if you pay the early-bird or standard submission fee) to the second weekend of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday). These tickets are non-transferable and non-refundable.</li>
				</ul>
			</li>
    		<li>If you pay a submission fee for visual, literary, and/or installation art, it is free to apply to the popular Festival Store. We encourage all artists to consider selling work in the popular Festival Store.</li>
    		<li>Accepted artists must be at least 18 years old by June 15, 2012.</li>
    		<li>Any characters featured in a sexual way must not be under 18 years of age.</li>
    		<li>All entries may not have been previously published preceding this event. (This does not include posting on your personal blog or website.)</li>
    		<li>All work must be submitted by the original author. Co-authors must submit together.</li>
    		<li>Unfinished art or “works in progress” will not be considered by the jury.</li>
    		<li>You may use a pen name; your legal name will be kept confidential. Please be clear during the submission process about which name you wish to be used publicly.</li>
    		<li>For submissions, all entries must be in .doc or .rtf format only; must follow standard manuscript format including 12 pt. font and 1-inch margins; and each page must have only the title and page number in the top right hand corner (no other identifying information).</li>
		</ul>
	</p>