<h3><center>Performance Art</center></h3>

<p>The Festival is proud to feature stunning performance art created and curated by the internationally-acclaimed performer, writer and director David Crellin (aka Armitage Shanks).</p>

<p>In his second year as Performance Director, Crellin plans to orchestrate performances that will beautifully complement the world-class visual art exhibition at the tenth annual Festival in June, anticipating up to ten thousand attendees across the two-weekend event.</p>

<p>All performers 18 years old or older are encouraged to submit an application to create an original piece or adapt an existing piece of work, based on an aspect of the erotic (i.e. voyeurism, control, submission, bondage, aggression, homosexuality, heterosexuality, pansexuality, polyamory, monogamy, commodification, etc.).</p>

<p>There is no submission fee to apply for consideration.</p>

<b>Accepted Performers Receive:</b>
   <p>
	<ul>
    	<li>Exposure to an audience of thousands of people, including international artists and patrons; the 10th annual Festival anticipates up to 10,000 attendees across two-weekends in June</li>
    	<li>Select featured performance artists will be compensated with a modest stipend</li>
    	<li>Full pass to both weekends of the Festival for self (artist) and a plus one</li>
    	<li>Invitation to an exclusive Artist Reception for artist and a plus one (space is limited; RSVP will be required)</li>
    	<li>Featured in professionally designed Festival catalog, both in print and PDF</li>
    	<li>Promoted on Festival website gallery</li>
	</ul>
  </p>



<b>About David Crellin (aka Armitage Shanks)</b>
<p>Crellin has a colorful history of experience, having worked as a circus performer, singer, director, actor, writer, musician, teacher and stuntman in a career spanning 30 years. He was the co-founder and ringmaster of Circus Contraption, a Seattle-based, one-ring, traveling circus. Directing and co-writing credits include Squirm Burpee - A Vaudevillian Melodrama, which premiered at the New Victory Theater in New York City’s Times Square; Up, with a Twist for the School of Acrobatics and New Circus Arts (SANCA); and The Breaking, starring the Can Can Castaways.</p>

<b>Vision for 2012 Performance</b>
<p>Crellin shares his vision: “to create an exploration of sex and sexuality that illuminates the erotic in a resonant and allegorical fashion, to accentuate the sacred and the profane, beauty and ugliness, pathos and humor -- all parts of our shared erotic experience.”</p>