<h3>Call for Performers for Main Stage Production -- Deadline April 10, 2012</h3>

<p>In honor of Seattle Erotic Art Festival’s ten year anniversary celebrating “10 Years of Love and Lust,” Performance Director David Crellin (aka Armitage Shanks) seeks performers for the main stage show: <b>“Things That Go Bump in the Night,”</b> a celebration of all things erotic.</p>

<p>“As the Festival celebrates its tenth anniversary and is book-ended by the Fremont Fair and Seattle Pride weekends, I want to present a series of vibrant, sex-positive performances,” says Crellin. “I want to present a flirtatious bacchanal that befits the Festival’s achievements and heralds in the coming of summer.”</p>

<p>Headlining “Things That Go Bump in the Night” will be international burlesque star and performance artist, <b>TIGGER!</b></p>  

<p>Crellin is seeking proposals for <b>original performance pieces.</b></p>

<p>“This year’s main stage production is about the myriad ways we all view and express love and lust and everything in-between,” Crellin elaborates. <b>“Things That Go Bump in the Night”</b> is about finding the strange and beautiful corridors in the labyrinth of our sexual adventures.</p>

<p>The proposals can be from any movement-based performance art form: burlesque, dance, circus, variety, theatre, parkour... or as Crellin puts it: “bondage roller skating, levitating hip hop pogo stick mentalists... whatever. Bring it! Think out of the box about thinking about the box -- or the shaft. Whatever intersects your erotic geometry.”</p>

<p>The main stage production will include live, original music written by John Woods and Cass King of The Wet Spots.</p>

<p>"Erotic" is open to a variety of interpretations from the familiar to the boldly unexpected. Performances should represent the powerful diversity of our personal eroticism.</p>

<b>About David Crellin (aka Armitage Shanks)</b><br />
<p>Crellin has a colorful history of experience, having worked as a circus performer, singer, director, actor, writer, musician, teacher and stuntman in an international career spanning 30 years. He was the co-founder and ringmaster of Circus Contraption, a Seattle-based, one-ring, traveling circus.</p>

<p>Directing and co-writing credits include Squirm Burpee - A Vaudevillian Melodrama, which premiered at the New Victory Theater in New York City’s Times Square; Up, with a Twist for the School of Acrobatics and New Circus Arts (SANCA); and The Breaking & Viva Oz Vegas for Can Can Presents.</p>

<b>Guidelines for Applicants</b>
	<ul>
    	<li>It is free to apply.</li>
    	<li>Performers must apply by the deadline, Tuesday, April 10, 2012 at 11pm PST. Incomplete applications will not be considered.</li>
    	<li>Performers must be willing to work with the Performance Director to adapt their acts for the Festival.</li>
    	<li>Selected performers must be available for conceptual meetings in late-April and for rehearsals scheduled to begin in May.</li>
    	<li>Performers must be at least 18 years old. All body types, ages (over 18), genders, and ethnicities are encouraged to apply.</li>
    	<li>Auditions will be required.</li>
	</ul>

<b>Application Process</b><br />
You will need to register and provide the following information through the website at http://submissions.seattleerotic.org
	<ul>
    	<li>Your legal name and your preferred stage name</li>
    	<li>Title, length and detailed description of your act proposal</li>
    	<li>Staging requirements</li>
    	<li>Contact information (email and phone number)</li>
    	<li>Any supporting materials (video, photos, weblink, YouTube, drawings, etc.)</li>
    	<li>History of performance experience</li>
    	<li>Headshot (high resolution, print ready)</li>
    	<li>Brief biography (approximately one paragraph)</li>
	</ul>

<p><b>Deadline for submissions is Tuesday, April 10, 2012.</b> Performers will be contacted as needed to schedule auditions. <b>Auditions will be held in Seattle, exact dates to be announced.</b></p>

<p>The tenth annual Seattle Erotic Art Festival will be held June 16-24 at Fremont Studios.</p>