<center><h3>Festival Store</h3></center>

<p>The extremely popular Festival Store is a museum-quality shop that features thousands of works of erotica selected to meet every budget and taste. The Store includes prints, small works, jewelry, cards, oddities- delete this, books, DVDs, collectibles, and more.</p>

<p>The Store provides a venue for the sale of reproductions of original works of art featured in the exhibition, increasing exposure and monetary benefits for participating artists. It also features the work of artists that are not showcased in the exhibition. All accepted artists have their work displayed during the two-weekend event to up to ten thousand attendees.</p>

<p>This year the Festival is part of the Fremont Fair, an annual Seattle event that draws over 100,000 people to the immediate neighborhood. The Festival anticipates higher Store sales than ever before, due to its participation in the Fremont Fair.</p>
<p>
<b>Accepted Artists Receive:</b>
	<ul>
    	<li>Featured at the 10th annual Seattle Erotic Art Festival across two weekends to up to 10,000 attendees</li>
    	<li>High art sales and competitive commission rate of 40% (The Store is extremely popular and the Festival anticipates higher sales than ever before, due to its participation in the Fremont Fair.)</li>
    	<li>Discounted printing and framing at partnering frame shops</li>
    	<li>Free workshops to support accepted visual artists</li>
	</ul>
</p>	

<p>
<b>Declined Artists Receive:</b>
	<ul>
    	<li>Weekend pass to the <b>first weekend</b> of the Festival (Saturday and Sunday) for self (artist) - $30 value</li>
    	<li>$20 or $30 discount (depends on if you pay the early-bird or standard submission fee) to the <b>second weekend</b> of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday)</li>
	</ul>
</p>

<i>NOTE: tickets are non-transferable and non-refundable. Discount codes will be provided when Festival tickets are available for purchase. Each discount code can only be used once. Each artist will receive only one discount code (if you apply to multiple Calls for Art and pay multiple fees, you would receive one discount code for the highest fee you paid.)</i>
<p>
<b>Submission Guidelines</b>
 	<ul>
    	<li>Artists must make their submissions between February 1 and March 31, 2012. <b>The submission deadline is Saturday, March 10, 2012 at 11pm (PST).</b> Be sure to have all of your information entered on time and correctly as you will not be able to access the system after that date.</li>
    	<li>Artists may submit up to 20 different items to the Store (e.g. postcards, prints, posters, jewelry, statues, etc), with a quantity ranging from 1 to 50 of each item.</li>
		<ul>
        	<li>Each individual item need not be submitted for approval. Similar items that are the same price may be grouped together; a representative sampling is acceptable.</li>
        	<li>(For example, if you want the Store to feature three different postcards with a quantity of 10 each, then create one submission entry for a postcard and say the quantity is 30, and then in the notes section say that there are three different images for those postcards).</li>
		</ul>
    	<li>Non-North American artists and invited artists do not pay a submission fee.</li>
 		<li>All North American artists must pay a $30 submission fee.</li>
		<ul>
        	<li>Note that there is an <b>early-bird submission</b> fee of $20 if you submit by <b>Wednesday, February 15, 2012 at 11pm (PST).</b></li>
        	<li>If you pay a submission fee for visual art, literary art, or installation art, then it is free to apply to the Festival Store.</li>
        	<li>By paying a submission fee, you receive a weekend pass to the <b>first weekend</b> of the Festival (Saturday and Sunday) for self (artist), and a $20 or $30 discount (depends on if you pay the early-bird or standard submission fee) to the <b>second weekend</b> of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday). These tickets are non-transferable and non-refundable.</li>
    	</ul>
		<li>For all accepted, invited and Store art sold during or as a direct result of the Festival, the Festival receives a 40% commission fee.</li>
    	<li>All featured art is selected and showcased at the discretion of the Festival.</li>
    	<li>The Festival reserves the right to refuse or limit items displayed to quantities of 50 pieces/items or less, per artist, depending on space availability.</li>
    	<li>Accepted artists must be at least 18 years old by June 15, 2012.</li>
    	<li>Any models depicted in art must be 18 years old or older. All accepted artists who use models in photographs will be required to submit a Models Age Certification form. The completed form must be sent with the artist’s inventory. The Festival will keep this information on file to comply with United Sates Code, Title 18, Section 2257.</li>
    	<li>Artists may only submit finished art of their own creation.</li>
    	<li>Unfinished art or “works in progress” will not be considered.</li>
    	<li>Art previously displayed at the Festival may be considered for the Festival Store.</li>
    	<li>Accepted artists are encouraged to provide display units for their work. Any small items such as postcards/cards or jewelry should, if possible, be accompanied by an appropriate display. A limited number of displays are available; priority on these will be given to artists from out of state.</li>
    	<li>Work will be displayed on a space available basis. Effort will be made to display a sample of everything supplied, however, if a large quantity is delivered by a single artist and space limitations become an issue, items may be used as back-stock until space becomes available.
    	<li>All merchandise must arrive ready for display. Proper presentation is the responsibility of the artist.</li>
        <ul>
			<li>Price stickers must be attached. Pre-printed price stickers will be provided to the artist. The stickers will include the control number and price. If the price stickers are not attached, the item will not be displayed for sale. All prices are to remain unchanged upon delivery with no bartering or price changes on items in the store inventory without approval from the Festival Retail Director.</li>
        	<li>Prints should have a backing and be shrinkwrapped or in plastic sleeves, cards should be in sleeves, etc.</li>
		</ul>
    	<li>Every effort will be made to provide the highest security possible; however, the Festival will not be responsible for any losses due to theft. Damage occurring due to customer handling will not be the Festival's responsibility.  By submitting merchandise for sale in the retail store, the artist agrees to hold the Festival, the Festival Store, the Store management, and Foundation for Sex Positive Culture harmless.</li>
		</ul>