<h3><center>Visual Art Exhibition</center></h3>

<p>The 2012 visual art exhibition will feature up to 300 works of art selected by esteemed curators and jurors. Selected art will be showcased throughout the two-weekend event, to up to 10,000 attendees. The Festival sells more art than any other erotic art festival, consistently selling an average of 25% of the work featured in the exhibition. The Festival stands by its mission to support living artists with low submission fees and competitive commission rates. All exhibiting and invited artists are also encouraged to sell their work in the popular Festival Store.</p>

<p>All artists age 18 and older are encouraged to submit up to five (5) works of erotic art of any medium. Sculptors, multimedia artists and painters are particularly encouraged to apply.</p>

<p><b>The jury will select pieces based on:</b> quality of execution, depth of emotion, originality of subject, and thought provoking elements that instigate conversations about sexuality, erotica, art, and/or societal mores.</p>

<p>A different and new Festival jury is appointed every year, with careful consideration. To increase diversity of the selected art, the jury consists of an erotic artist, an art professional, an art collector, a sex positive activist, and a Festival committee member. <u>Art is selected by a blind jury; jurors never know whose work they are reviewing during the process. Unknown and famous artists alike are given equal consideration and opportunity</u>.  <%= link_to "  Click here for more information about how the art exhibition comes to life.", "http://www.seattleerotic.org/Fnews/the-visual-art-exhibition-how-it-works" %></p>

<p>The 2012 jurors are Dan Savage, author, media pundit, sex advice columnist of “Savage Love” and newspaper editor of The Stranger, and co-founder of the nationally recognized It Gets Better Project; Jim Duvall, award-winning photographer and founder of the Seattle Erotic Art Festival; Mistress Matisse, columnist, sexuality activist, and previously accepted Festival artist. Two additional jurors are in the process of being confirmed.</p>

<p>In order to show the work of successful and international artists who no longer choose to submit their work to juried shows, the Festival does include curated and invited artist sections as well. If you are a career artist who no longer enters work in juried exhibitions but would like to participate, please email <%= mail_to "exhibition@SeattleErotic.org" %> for information.</p>

<p>
	<b>Accepted Artists Receive:</b>
	<p>
		<ul>
			<li>Featured at the 10th annual Seattle Erotic Festival across two weekends to up to 10,000 attendees.</li>
			<li>Gallery Rate of 60% on pieces sold in the exhibition and/or Festival Store (on average, the festival sells 25% of the artwork featured)</li>
			<li>Full Pass to both weekends of the Festival for self (artist)</li>
			<li>Invitation to an exclusive Artist Reception for artist and a plus one  (space is limited; RSVP will be required)</li>
			<li>Featured in professionally designed Festival catalog, both in print and PDF.</li>
			<li>Promoted on Festival website gallery.</li>
			<li>Discounted printing and framing at partnering frame shops</li>
			<li>Free workshops to support accepted visual artists</li>
		</ul>
	</p>
	
	<b>Declined Artists Receive:</b>
	<p>
		<ul>
			<li>Weekend pass to the <b>first weekend</b> of the Festival (Saturday and Sunday) for self (artist) - $30 value</li>
			<li>$20 or $30 discount (depends on if you pay the early-bird or standard submission fee) to the <b>second weekend</b> of the Festival for self (artist), <u>either</u> for a Friday ticket <u>or</u> a full weekend pass (Friday, Saturday and Sunday)
		</ul>
	</p>
	
	<p><i>NOTE: tickets are non-transferable and non-refundable. Discount codes will be provided when Festival tickets are available for purchase. Each discount code can only be used once. Each artist will receive only one discount code (if you apply to multiple Calls for Art and pay multiple fees, you would receive one discount code for the highest fee you paid.)</i></p>
	
	<b>Submission Guidelines</b>
	<p>
		<ul>
			<li>Artists must make their submissions between February 1 and March 10, 2012. The submission deadline is Saturday, March 10, 2012 at 11pm (PST). Be sure to have all of your information entered on time and correctly as you will not be able to access the system after that date.</li>
		    <li>Non-North American artists and invited artists do not pay a submission fee.</li>
		    <li>All North American artists must pay a $30 submission fee, which allows for up to 5 pieces of art to be submitted for consideration.</li>
 		    <li>
				<ul>
		            <li>Note that there is an early-bird submission fee of $20 if you submit by Wednesday, February 15, 2012 at 11pm (PST).</li>
		            <li>By paying a submission fee, you receive a weekend pass to the first weekend of the Festival (Saturday and Sunday) for self (artist), and a $20 or $30 discount (depends on if you pay the early-bird or standard submission fee) to the second weekend of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday). These tickets are non-transferable and non-refundable.</li>
		         </ul>
		     </li>    
		     <li>If you pay a submission fee for visual, literary, and/or installation art, it is free to apply to the popular Festival Store. We encourage all artists to consider selling work in both the exhibition and Store.</li>
		    <li>For all accepted, invited and Store art sold during or as a direct result of the Festival, the Festival receives a 40% commission fee.</li>
		    <li>Accepted artists must be at least 18 years old by June 15, 2012.</li>
		    <li>Any models depicted in art must be 18 years old or older. All accepted artists who use models in photographs will be required to submit a Models Age Certification form. The completed form must be sent with the artist’s inventory. The Festival will keep this information on file to comply with United Sates Code, Title 18, Section 2257.</li>
		    <li>Artists may only submit finished art of their own creation.</li>
		    <li>Unfinished art or “works in progress” will not be considered by the jury.</li>
		    <li>Art previously exhibited at the Festival will not be considered for the exhibition but may be considered for the Festival Store.</li>
		    <li>Artists must provide a price for each submitted piece, with a minimum value of $200.</li>
		    <li>Only electronic entries submitted via our online entry system will be accepted. Paper, email, CD, and all other forms of entry will be discarded. Absolutely do not send us original art as your entry; this will automatically disqualify you.</li>
		    <li>Images must be submitted in JPEG format, no smaller than 500k and no larger than 5MB in size (in pixels, the optimum resolution would be at least 1000 pixels on the longest side. This is typically about 1MB in size.) Low resolution images will be fuzzy and will not give our jury a fair sense of your work.</li>
		    <li>Any image with a watermark that obscures the image or identifies the artist will be rejected.</li>
		    <li>Our system accepts only 5 submissions of one image each. If you are not submitting 5 different pieces of art, you are welcome to use the remaining submission slots for detail photos. Please write the word DETAIL (in all caps) after the title of the piece. If you do submit 5 different pieces, please write “Detail images available” in the “Additional Notes” field. One image is typically sufficient, and the Artist Liaison will contact you if the jury requires additional images of your piece.</li>
		    <li>Substitutions are not allowed; the art submitted must be exactly the same as the delivered art.</li>
			