<table>
  <tr>
    <th>Title</th>
    <th>Medium</th>
	<th>Image</th>
	<th>Juror 2 Vote</th>

  </tr>
  <% for visual_submission in @visual_submissions %>
    <tr>
      <td><%= link_to visual_submission.title, visual_submission_path(visual_submission) %></td>
      <td><%= visual_submission.medium %></td>
	 	  <% if visual_submission.images.count >= 1 %>
		    <td><%= link_to image_tag(visual_submission.images.first.image.url(:thumb)), visual_submission.images.first.image.url(:original), :target => "_blank" %></td>
		 <% else %>
		    <td>No Image</td>
		<% end %>
	  <td><%= visual_submission.jury_one_vote %></td>

    </tr>
  <% end %>
</table>


