<h1>Video Short/Film Submissions</h1>

<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="600" cellpadding="3" cellspacing="3">
  <tr>
    <th>Title</th>
    <th></th>
  </tr>

<% @film_submissions.each do |film_submission| %>
  <tr>
    <td><%= link_to film_submission.title, edit_film_submission_path(film_submission)  %></td>
    <td><%= link_to 'Delete', film_submission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if @film_submissions.count < 3 %>

	<p><%= link_to 'New Film submission', new_film_submission_path %></p>

<% else %>
	<p>You have submitted the maximum amount of entries.</p>
	
<% end %>

<b>Submission Guidelines</b>
<ul>
	<li>Up to 3 submissions are allowed.</li>
	<li>Each one may be up to 30 minutes in length, but will not be considered if it extends beyond 30 minutes.</li>
</ul>
